@charset "UTF-8";

/* paleta de cores */

:root{
    --cor1: #050505;
    --cor2: #F4F4F9;
    --cor3: #3E6680;
    --cor4: #027BCE;
    --cor5: #0496ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font: .8em Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: var(--cor3);
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login{
    background-color: var(--cor2);
    color: var(--cor1);
    width: 280px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.467);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#imagem{
    background: var(--cor5) url(../imagens/img.jpg) no-repeat;
    background-size: cover;
    display: flex;
    height: 180px;
}

#formulario{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#formulario h1{
    margin-bottom: 10px;
}

.campo{
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.campo label{
    margin-right: 3px;
}

.campo input{
    width: 80%;
}

#entrar{
    display: block;
    font-size: 1em;
    margin: 10px 0;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--cor4);
    color: var(--cor2);
    cursor: pointer;
}

#entrar:hover{
    opacity: 90%;
}

#esqueci:hover{
    text-decoration: underline;
}